
//Colores
$gradientePrincipal: linear-gradient(to right, rgba(32,163,37,1) 0%, rgba(27,185,196,1) 50%, rgba(32,137,236,1) 100%);
$gradienteSecundario: linear-gradient(to right, rgba(3,151,250,1) 0%, rgba(41,190,219,1) 100%, rgba(32,168,236,1) 100%);
$negro: #0000;
$blanco: #fff;
$gris: #cccccc;


//fuentes
$fuentePrincipal: 'Roboto Condensed', sans-serif;
$fuenteHeader: 'Shadows Into Light';
$fuenteLogo: 'Spline Sans Mono', monospace;